@media only screen and (max-width: 1145px) {
    .nav-container {
      padding: 1rem 0;
      max-width: 65rem;
    }
    .header-hr {
      width: 65rem;
    }
    #about1 {
       width: 65rem;
       gap: 5.969rem;
    }
    .selfie {
       width: 30.1281rem;
       height: 28.1819rem;
    }
    .about-dtls {
       width: 27.7144rem;
       height: 25.1875rem;
       margin-top: 1.8rem;
    }
    hr {
       max-width: 65rem;
    }
    #results {
       width: 65rem;
    }
    .results-image img {
       width: 65rem;
       height: 14.8719rem;
    }
    #collab-style {
        width: 65rem;
    }
    .collab-image img {
       width: 65rem;
    }
    #personal-interests {
       width: 65rem;
    }
    .interests-slide {
       width: 65rem;
    }
    footer {
       gap: 6.6875rem;
    }
}

@media only screen and (max-width: 1070px) {
    .nav-container {
      padding: 2rem 0;
      max-width: 60.5rem;
    }
    .links-container {
      margin-right: .5rem;
    }
    .header-hr {
      width: 60.5rem;
    }
    #about1 {
      width: 60rem;
      margin: 8.125rem auto 1.818rem;
      gap: 5.969rem;
    }
    .selfie {
      margin-top: 1.5rem;
      width: 26.1281rem;
      height: 24.1819rem;
    }
    .about-dtls {
      width: 27.7144rem;
      height: 25.1875rem;
      margin-top: 1.8rem;
    }
    hr {
      max-width: 65rem;
    }
     #results {
        width: 65rem;
     }
     .results-image img {
        width: 65rem;
        height: 14.8719rem;
     }
     #collab-style {
         width: 65rem;
     }
     .collab-image img {
        width: 65rem;
     }
     #personal-interests {
        width: 65rem;
     }
     .interests-slide {
        width: 65rem;
     }
     footer {
        gap: 6.6875rem;
     }
}













































@media only screen and (max-width: 768px) {
    .links-container {
      display: none;
    }
    .hamburger {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.5rem;
      height: 1.2rem;
      cursor: pointer;
      z-index: 10001;
    }
    .social-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1.5rem; 
      width: 100%; 
    }
  }