@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: linear-gradient(to bottom, #FFFFFF 60%, #f7f3ef 100%);
}

.nav-container {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 70rem;
  height: 4.75rem;
  margin: 0 auto;
  background: #FFFFFF;
}

.fade-in {
  animation: fadeIn 0.2s ease-in forwards;
}

.fade-out {
  animation: fadeOut 0.2s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: .56rem;
}

.logo img {
  width: 2.375rem;
  height: 2.18rem;
}

.name-title {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.225rem;
  color: #3C3C3B;
  margin-bottom: .08rem;
}

.title {
  font-size: .75rem;
  font-weight: 400;
  color: #7A7A7A;
}

.nav-links {
  position: relative;
  margin: 0 .938rem;
  text-decoration: none;
  cursor: pointer;
  font-size: .813rem;
  font-weight: 600; 
  color:#363330;
  transition: color 0.3s ease;
  display: inline-block;
}

.nav-links::after{
  content: "";
  position: absolute;
  left: 0;
  top: 60%;
  transform: translateY(-50%);
  width: 0;
  height: 0.5px;
  background-color: #343434;
  border-bottom: 0.5px dashed #363330;
  transition: width 0.3s ease;
}

.nav-links.active::after {
  width: 100%;
}

.git-button {
  background:#3C3C3B;
  color: #FFFFFF;
  margin-left: 0.6rem;
  padding: 11.4px 20px;
  border: none;
  border-radius: .433rem;
  text-decoration: none;
  font-weight: 500;
  font-size: .8131rem;
  display: inline-flex;
  align-items: center;
  transition: box-shadow 0.3s ease;
  transition: all 0.3s ease
}

.git-button:hover {
  cursor: pointer;
  font-family: 'Permanent Marker', cursive;
  font-weight: 400;
  color: #FF9385;
  font-size: .85rem;
  line-height: 145%;
  letter-spacing: 1%;
  border-radius: 1px solid #FF7F6D;
  box-shadow: 0 6px 15px rgba(90, 0, 0, 0.2);
  transform: translateY(-2px)
}

.git-button:hover .green,
.git-button:hover .arrow {
    display: none;
}

.git-button:hover .jet {
  display: inline;
}

.jet {
  width: .75rem;
  height: .75rem;
  margin-top: .395rem;
  margin-left: .395rem;
  display: none;
}

.green {
  width: .6194rem;
  height: .6081rem;
  margin-right: .34rem;
  background: #2AED19;
  border-radius: .4866rem;
}

.arrow {
  width: .755rem;
  margin-left: .24rem;
}

.header-hr {
  position: fixed;
  top: 70px; 
  left: 0; 
  right: 0;
  z-index: 9999;
  max-width: 70rem;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: #f0eded;
}

#about1 {
  width: 68.3394rem;
  margin: 8.125rem auto 1.818rem;
  display: flex;
  gap: 6.4969rem;
}

.selfie {
  width: 34.1281rem;
  height: 32.1819rem;
}

.about-dtls {
  width: 27.7144rem;
  height: 25.1875rem;
  margin-top: 3.3rem;
}

.about-dtls h1 {
  max-width: 26.8125rem;
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: -2%;
  line-height: 120%;
  color: #343434;
  margin-bottom: 1rem;
}

.about-dtls p {
  max-width: 26.513rem;
  font-weight: 400;
  font-size: .875rem;
  letter-spacing: .0088rem;
  line-height: 145%;
  margin-bottom: 1rem;
  color: #555453;
}

.lastdtl {
  width: 27.7144rem; 
  font-weight: 400;
  font-size: .875rem;
  letter-spacing: .0088rem;
  line-height: 145%;
  color: #555453;
}

.social {
  max-width: 13.563rem;
  max-height: 1.469rem;
  display: flex;
  gap: .9688rem;
  margin-top: 1rem;
}

hr {
  max-width: 70rem;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: #f0eded;
}

#results {
  width: 66.9781rem;
  margin: 3.688rem auto 7.4781rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-dtls {
  width: 34.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.result-dtls h2{
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: .5rem;
  color: #343433;
}

.result-dtls p {
  font-weight: 400;
  font-size: .875rem;
  margin-bottom: .5rem;
  color: #555453;
  line-height: 150%;
  letter-spacing: 1%;
}

.results-image img {
  width: 66.9781rem;
  height: 15.2719rem;
}

#philosophy {
  width: 51.8669rem;
  margin: 3.688rem auto 7.4781rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.philosophy-dtls {
  width: 34.375rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.philosophy-dtls h2{
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: .5rem;
  color: #343433;
}

.philosophy-dtls p {
  font-weight: 400;
  font-size: .875rem;
  margin-bottom: .5rem;
  color: #555453;
  width: 31.25rem;
  line-height: 150%;
  letter-spacing: 1%;
}

.mentality {
  width: 51.8669rem;
  max-height: 9.375rem;
  display: flex;
  gap: .7306rem;
}

b {
  font-weight: 500;
  color: #2A2A29;
}

.fours {
  background: #FAFAFA;
  border-radius: .4869rem;
  border: 1px solid #ECECEC;
  width: 25.5681rem;
  margin-bottom: .8525rem;
}

.fours p {
  font-weight: 400;
  font-size: .8525rem;
  color: #555453;
  line-height: 150%;
  letter-spacing: 1%;
  margin: .8525rem 1.2175rem;
}

#experience {
  width: 35.3125rem;
  display: flex;;
  margin: 0 auto 7.4781rem;
  flex-direction: column;
  justify-content: center;
}

.experience-dtls h2 {
  font-weight: 500;
  font-size: 1.375rem;
  margin-bottom: 1rem;
  color: #343433;
}

.core p {
  font-weight: 400;
  font-size: .8944rem;
  color: #343433;
  margin-bottom: .75rem;
}

.core2 {
  display: flex;
  gap: .5419rem;
  margin-bottom: .5rem;
}

.core2 div {
  background: #FAFAFA;
  border-radius: .5rem;
  border: 1px solid #ECECEC;
}

.core2 p {
  margin: .625rem 1.0181rem;
  font-size: .8306rem;
  font-weight: 400;
  color: #555453;
}




footer {
  width: 100%;
  height: 17.75rem;
  background: #FAF8F6;
  border-top: 1px solid #EEE8E1E5;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  gap: 11.6875rem;
}

.cat {
  max-width: 27.7144rem;
  margin-right: 80px;
}

.cat h5 {
  width: 23.357rem;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 120%;
  display: flex;
  letter-spacing: -2%;
  color: #343433;
}

.cat p {
  max-width: 22.9375rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 147%;
  letter-spacing: -0.5%;
  color: #434343;
  margin-top: .5rem;
}

.social-container {
  display: flex;
}

.socials {
  max-width: 13.563rem;
  max-height: 1.469rem;
  display: flex;
  gap: .9688rem;
  margin-top: 1.50rem;
}

.sociallinks {
  width: 7.0625rem;
  height: 1.9375rem;
  margin-top: 1.25rem;
  margin-right: .625rem;
}

.X {
  width: 1.4531rem;
  height: 1.4531rem;
}

.X1 {
  width: 1.5731rem;
  height: .9375rem;
  margin-top: .28rem;
}

.adam-image {
  width: 30.625rem;
  height: 10rem;
}








