@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}


.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  max-width: 75rem;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: .56rem;
}

.logo img {
  width: 2.375rem;
  height: 2.18rem;
}

.name-title {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: .9rem;
  font-weight: 600;
  line-height: 1.225rem;
  color: #3C3C3B;
  margin-bottom: .08rem;
}

.title {
  font-size: .75rem;
  font-weight: 400;
  color: #7A7A7A;
}

.nav-links a {
  margin: 0 .938rem;
  text-decoration: none;
  font-size: .813rem;
  font-weight: 600; 
  color:#363330;
}

.git-button {
  background:#3C3C3B;
  color: #FFFFFF;
  margin-left: 0.6rem;
  padding: 10px 20px;
  border: none;
  border-radius: .433rem;
  text-decoration: none;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

.git-button:hover {
  cursor: pointer;
}

.green {
  margin-right: .34rem;
}

.arrow {
  margin-left: .24rem;
}

.header-hr {
  max-width: 75rem;
  margin: 0 auto;
  height: 1px;
  border: none;
  background-color: #f0eded;
}




